.icon-button,
.preview-screen,
.previewer-container,
.preview,
.border {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.previewer-container,
.preview-tools,
.preview {
  display: flex;
}

.previewer-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #282c34;
}

.previewer-container,
.preview {
  flex-direction: column;
  border-radius: 7px;
}

.previewer-label {
  color: #ffffff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

.previewer-header {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: xx-large;
  text-align: center;
}

.preview-screen {
  padding-top: 1rem;
}

.preview {
  padding-bottom: 1rem;
}

.preview-tools {
  flex-direction: row;
  text-align: left;
}

.icon-button {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0px;
  outline: none;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 9999px;
}

.icon-button:hover .fill {
  fill: #5e6e8f;
  transition: 0.2s;
}

@media (max-width: 650px) {
  .previewer-label {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .previewer-label {
    font-size: 16px;
  }
}
