.demo-container,
.props-container,
.demo-row,
.prop {
  display: flex;
}

.demo-container,
.props-container {
  flex-direction: column;
}

.prop,
.demo-row {
  flex-direction: row;
}

.demo-row {
  justify-content: center;
  color: white;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.props-container {
  background-color: white;
  text-align: left;
  margin-left: 0.6rem;
}

.prop {
  margin-bottom: 0.4rem;
}

.prop .value {
  color: #000;
  font-size: large;
}

.prop .name {
  color: darkslategray;
  font-size: large;
  margin-right: 0.3rem;
  margin-left: 0.7rem;
}

@media (max-width: 900px) {
  .demo-row {
    flex-direction: column;
  }
}
