body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c4c8cf;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.icon {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
}

.icons {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
}

.playground {
  margin-bottom: 3rem;
}

.playground-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.playground-header a {
  margin-left: 5px;
}

.demo-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}

.demo-box {
  margin-left: 1rem;
  margin-right: 1rem;
}

.rows {
  flex-direction: column;
}

.component-label {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: xx-large;
  text-align: center;
}

@media (max-width: 990px) {
  .playground-header {
    flex-direction: column-reverse;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
  }
  .icons {
    position: relative;

  }
}

@media (max-width: 1120px) {
  .demo-boxes {
    flex-direction: column;
  }
  .demo-box {
    margin-top: 1.5rem;
  }
}
